[2013-02-07 03:17] karlcampbell opened #1 "Error when trying to load data from Parse"
Hi I just tried out your parse adapter. I'm just learning how to use Ember, but I was interested in starting to play around with Parse. The request is being made and data is returning however the following error is showing up in the console:

Error: assertion failed: Your server returned a hash with the key activity but you have no mapping for it

[2013-02-28 05:05] alexmahan opened #2 "How do I use ParseUser properly?"
Hi Clint.

First of all, thanks so much for building this. Although I'm a newcomer to Ember, I really love the way it manages state and URLs, and look forward to becoming much more familiar with it.

I'm building my first proper Ember app using Ember Parse Adapter, and I'm trying to create a new Parse user using ParseUser, unsuccessfully thus far. I'm attempting to do this in a similar fashion to

[2013-05-01 16:56] seanrucker opened #4 "Update to use the new BasicAdapter"
What's the status of this project? Is it still being used/actively developed? Any plans to rewrite it to use the new Basic Adapter discussed here:

http://emberjs.com/blog/2013/03/22/stabilizing-ember-data.html

I would be interested in hearing how this has worked for you and contributing to the project if connecting Ember to a parse backend is a realistic and useful goal.

[2013-06-16 07:52] awt opened #5 "Refreshing page for nested resource referenced via dynamic segment silently fails"
I can successfullly navigate to a URL like this:
-  Load page at this address:

http://localhost:5000/
-  Automatically redirected (via IndexRoute) to here:

http://localhost:5000/#/wallets
-  Clicking on a 'wallet' link in an enumberable gets me here just fine:

http://localhost:5000/#/wallets/9kWTXhv8ZQ

However, if at this point I reload the page, ember silently fails -- rendering nothing, disp

[2013-10-05 23:18] edimoldovan opened #8 "Latest Ember Data support"
It would be awesome if the above would work with latest Ember Data.

[2013-11-14 23:55] thadd opened #9 "Dates not stored in ISO format results in 400 error from Parse on update"
I'm learning Ember and am converting the TodoMVC app to use Parse as my store, but when it downloads the todos from Parse, they come in as strings which prevents them from being stored in ISO format. This then screws things up when you push an update to Parse because the date is in the wrong format.

I've taken two different approaches to solving this and both work. First, if a data object comes i

[2013-11-15 00:05] thadd opened #10 "Missing model attributes after creating/updating a record"
I'm new to Ember, but in trying to port the TodoMVC app to use Parse I have almost everything working except when I create or update a record. When the response comes back from Parse, it only includes the `objectId` and `createdAt` or just `updatedAt` for create and update actions respectively. Looking at the Ember test cases, it's clear that it expects REST APIs to return the full JSON for the ob

[2013-12-05 19:41] tyreepace opened #11 "Data not being sent to Parse.com"
Hi I'm running the Ember App Kit by Stefan Penner with Parse.com and your adapter. I've got everything set up but when I try to create a new user, it doesn't seem to be writing back to Parse. My data only submits to local storage. Any ideas what I might be doing wrong?

[2013-12-05 20:41] #9 closed, assigned to nobody

[2013-12-05 22:25] #10 closed, assigned to nobody

[2013-12-20 14:47] #8 closed, assigned to nobody

[2013-12-20 14:48] #5 closed, assigned to nobody

[2013-12-20 14:50] #4 closed, assigned to clintjhill

[2013-12-20 14:52] #2 closed, assigned to clintjhill

[2013-12-20 14:57] #1 closed, assigned to clintjhill

[2013-12-20 15:00] #11 closed, assigned to nobody

[2014-01-05 05:38] deanmraz opened #12 "Ember App Kit and Ember Parse Adapter"
When I try to use this parse adapter with <a href="https://github.com/stefanpenner/ember-app-kit" target="_blank"> ember-app-kit </a> I get an issue where it uses 'classes/ParseModel)' as the 'Hero' model name.

This causes a No 'Access-Control-Allow-Origin' error and terminates the app.

[2014-01-08 20:03] #12 closed, assigned to nobody

[2014-03-12 18:36] jrdn91 opened #14 "Any way to move keys outside of the ember app to hide them?"
I'm loving this adapter, it's working great and is talking to my parse database perfectly and just how I expect it to work.
My only concern is with security, since the keys are in the app.js file anyone who knows what they are looking for can grab my keys and potentially get ad my data and mess with it.
Is there a way that I can remedy this by somehow abstracting the keys outside of the app.js fil

[2014-03-14 22:57] huaruiw opened #15 "additional user attributes"
I'm having fun trying your adapter but I was wondering if it's possible to add more attributes to User Model.

[code]

Something like this doesn't work.
Is there another way to do it?

Also is there a way to access the model through store?

[code]

returns undefined even though username is in DS.ParseUserModel.

I'm still a student so I'm not sure if these are dumb questions but if you could help

[2014-05-01 02:25] chadwithuhc opened #17 "Error when using with ember-cli"
Setting up with [ember-cli](http://iamstef.net/ember-cli/) had a few different steps which I could write up some Wiki docs for if you would like. It was simply breaking apart the single file into different initializers.

But aside from that, I ran into a problem with the following code:

[code]

Where `else if(factory.toString().indexOf("subclass") > 0)` would not evaluate to `true`, causing my UR

[2014-05-14 16:26] thadd opened #19 "Session token should be included if there's a current user"
If a user is logged in, then all requests to Parse should include the session token so that Parse's ACLs can be enforced. I was able to fix this in my app by adding the session token in the adapter's init, but I'm not 100% sure that that will work robustly as user's log in/out.

[code]

Not sure if you think this is the best approach so I'm not submitting a PR yet.

[2014-05-18 13:33] adriaandotcom opened #20 "Example.html is not found"
The example file is not found: http://clintjhill.github.io/ember-parse-adapter/example.html

[2014-06-23 20:14] jgable opened #24 "Tag new release for bower"
I've been playing around with the new version in the dist folder from yesterday and was wondering if/when you are going to tag/publish it for bower installs?

[2014-06-24 19:11] #19 closed, assigned to nobody

[2014-06-24 19:12] #17 closed, assigned to clintjhill

[2014-06-26 14:48] conrad-vanl opened #27 "HABTM Relationship"
I'm trying to model a HABTM relationship. I've tried a couple of different ways but I keep getting errors. Is there a tested/standard way to model a HABTM relationship with this adapter?

The relationship I'm modeling is a `message` which `hasMany` `recipients` (a `recipient` is a `parse-user`). The first thing I tried was to create a `relation` column in Parse on my `Message` class and make my mo

[2014-06-26 16:31] conrad-vanl opened #28 "RecordArrays no longer tracking `deletedItems`"
Noticed today that after  Merge of https://github.com/clintjhill/ember-parse-adapter/pull/21 `deletedItems` in a `hasMany` recordArray is no longer being tracked, which breaks the patch style array/relation updates here and means you can't remove an item from a Parse Array (such as a hasMany array) and have that change be picked up by Parse.

https://github.com/clintjhill/ember-parse-adapter/blob/

[2014-06-27 22:07] jpadilla opened #29 "Filtering by ParseUser"
How would one go about filtering on a route's model function by a belongsTo field on a model. I'm currently doing something like, which feels odd. `createdBy` is a belongsTo(had to set async to false) field on a `task` model.

[code]

I also tried something like the following, which didn't work at all.

[code]

[2014-06-30 18:44] #29 closed, assigned to nobody

[2014-07-01 10:51] Ghostavio opened #31 "Create Ember CLI addon"
This is already an awesome adapter, and it would be cool to have an ember-cli addon as they released this feature recently and it significantly reduces installation time. Is this in the roadmap?

Thanks :)

[2014-07-01 18:25] jacobthemyth opened #32 "Can't get sessionToken"
For some reason, setting the sessionToken works, but getting doesn't.

[code]

If I add logs to  `sessionToken`:

[code]

when I call `adapter.set('sessionToken', 'foo')`, I see:

[code]

when I call `adapter.get('sessionToken')`, there are no log statements.

It's kind of tough to set up a jsbin with all the dependencies, but if this isn't clear enough, let me know and I'll see what I can do.

[2014-07-03 15:11] #32 closed, assigned to nobody

[2014-07-03 16:02] jacobthemyth opened #34 "Pull Request #26 breaks findQuery"
Pull request #26 breaks the ability to use parameters that should not be wrapped in `where`. For example, I use custom `include` parameters for deeply nested structures, `order`, `limit`, `skip`, `keys`, `count`, etc. The Ember data docs say that `findQuery` exposes the underlying adapter semantics (see http://emberjs.com/api/data/classes/DS.Store.html#method_findQuery), so it puts the onus of res

[2014-07-03 16:42] #34 closed, assigned to nobody

[2014-07-04 15:39] #14 closed, assigned to nobody

[2014-07-08 01:12] jacobthemyth opened #37 "sessionToken in custom adapters"
It looks like this is maybe a limitation of Ember-Data itself, but I was wondering if anyone else has experienced this issue. Basically, if I have a custom adapter for one of my models:

[code]

When I make a call that requires authentication, it doesn't have access to the `headers.X-Parse-Session-Token` property. This makes perfect sense, since the property is stored on an instance of Application

[2014-07-08 01:24] #37 closed, assigned to nobody

[2014-07-09 22:57] omairvaiyani opened #39 "Custom find queries."
There doesn't seem to be any obvious way to make a custom where query.

I had a guess and tried the following but it didn't work:

[code]

Any ideas? Is there a wiki?

[2014-07-10 13:49] #39 closed, assigned to nobody

[2014-07-11 19:30] omairvaiyani opened #40 "Data from belongsTo which is 'included' in the ParseQuery is still loading asynchronously."
I am trying to get an array of a Parse Class called Test which has a property called category: a pointer to the Category Class. I get this array of Test using the following code:

[code]

It returns everything perfectly fine with the category object loaded into each Test object.

However, looking at my developer's console, I can see that Ember makes a network call to Parse every time I do:

[code]

[2014-07-14 05:05] rbandooni opened #41 "Getting errors on initialization"
DEBUG: ------------------------------- ember-1.5.1.js:3521
DEBUG: Ember      : 1.5.1 ember-1.5.1.js:3521
DEBUG: Ember Data : 1.0.0-beta.2 ember-1.5.1.js:3521
DEBUG: Handlebars : 1.1.2 ember-1.5.1.js:3521
DEBUG: jQuery     : 1.10.2 ember-1.5.1.js:3521
DEBUG: ------------------------------- ember-1.5.1.js:3521
Uncaught Error: Assertion Failed: No application initializer named 'ember-data' ember-1.5.

[2014-07-16 21:46] joesankey opened #42 "Cache the user in local storage"
Are there any plans to cache the logged in user so the user doesn't have to login every time they visit the app?

On a related note, is the goal to implement all the same features as the official Parse javascript SDK?

[2014-07-22 22:13] #42 closed, assigned to nobody

[2014-08-03 21:30] smcllns opened #43 "ACL workaround"
Hey, I know ACL is on the roadmap but is there some workaround so I can use it with the current version?

[2014-08-05 15:27] ultimatemonty opened #44 "Ember data script tag in example.html references ember-data-debug."
Should this be pointing at `vendor/ember-data/ember-data.js`?

https://github.com/clintjhill/ember-parse-adapter/blob/master/example.html#L260

[2014-08-06 13:25] #43 closed, assigned to nobody

[2014-08-15 19:28] omairvaiyani opened #46 "'typeKey' error in ember-data code"
I get this error when a payload of Parse Objects are received:

'Cannot read property typeKey of undefined'

After digging up the ember-data code, I managed to fix the issue by changing the following method:

function deserializeRecordId(store, data, key, relationship, id) {
                if (!Model) { Model = requireModule("ember-data/lib/system/model")["Model"]; }
                if (isNone(id

[2014-09-03 19:10] camdub opened #48 "Delete Record is not sending DELETE requests"
When calling `destroyRecord` on a model, a `PUT` request is sent instead of a `DELETE` request. E.g., the `updateRecord` method is called. I noticed the adapter doesn't contain a `deleteRecord` method.

I'm doubly confused about why the `updateRecord` method is called when trying to save a delete record. Is this a default behavior of ember-data? I even added my own `deleteRecord` method to a local

[2014-09-14 13:43] #28 closed, assigned to nobody

[2014-11-28 20:09] musnit opened #50 "Extending ParseUser causes wrong API urls to be called"
I have a few more extra fields on my Parse User table and so wanted to extend the EmberParseAdapter.ParseUser model with one specific to my app.

This causes creation of new Users to be put into a new Parse table called User, rather than into the special Parse _User table. It seems to be due to the way the adapter handles detecting the special parse _User type in the pathForType method?

[code]

[2014-12-27 13:29] #46 closed, assigned to nobody

[2014-12-27 13:32] #40 closed, assigned to nobody

[2015-02-11 09:06] musnit opened #51 "Error when saving record which has many children"
When saving a record with many children, when serializing, an error is thrown in the serializeHasMany function of EmberParseAdapter.Serializer line 184.

          "className": child.parseClassName(),

The parseClassName function does not exist on the child record. This seems like an issue - is it supposed to be calling the parseClassName method on the serializer/adapter rather?

I got around this

[2015-02-25 14:13] QuantumInformation opened #52 "NPM publish"
Hi, can we publish this over npm?

[2015-03-07 11:42] oriSomething commented on #52
it would be really nice + ember-cli plugin

[2015-03-07 21:18] mixonic commented on #31
@notmessenger and I talked about his progress building an addon at EmberConf!

[2015-03-07 21:18] mixonic commented on #52
Yeah. Closing in favor of https://github.com/clintjhill/ember-parse-adapter/issues/31

[2015-03-07 21:18] #52 closed

[2015-03-08 00:41] notmessenger commented on #31
I should be able to get a pull request submitted this weekend.

[2015-03-08 03:47] notmessenger commented on #31
https://github.com/clintjhill/ember-parse-adapter/pull/53 is the pull request converting this adapter to Ember CLI 0.1.15.  Once I fix a failing test I will make a pull request to convert to 0.2.0-beta.1

[2015-03-17 21:25] QuantumInformation commented on #52
Why was this closed? Ember addons are published over npm.

[2015-03-17 21:36] oriSomething commented on #52
@QuantumInformation  it's closed, exactly because what you said: "*Ember addons are published over npm.*"

[2015-03-17 21:38] QuantumInformation commented on #52
I've tried to install it but the addon is not found.

On Tuesday, 17 March 2015, ori livni <notifications@github.com> wrote:

--

Kind regards
Nikos

[2015-03-18 13:00] QuantumInformation opened #55 "ember install gives -> 404 Not Found: ember-parse-adapter"
I tried this last night, but its not working.

 `ember install:addon ember-parse-adapter`
version: 0.1.15
Could not find watchman, falling back to NodeWatcher for file system events
404 Not Found: ember-parse-adapter
Error: 404 Not Found: ember-parse-adapter

[2015-03-18 13:41] notmessenger commented on #55
I am not the maintainer of this repo, but the reason for this is because this repository has not had the new version tagged as a release and published to npm.  In the meantime, you can add "ember-parse-adapter": "clintjhill/ember-parse-adapter#master" to your package.json file and then run `npm install`.  There are no custom generators that need to be ran so you can skip that step.

[2015-03-18 15:33] QuantumInformation commented on #55
Cool nice temp fix!

[2015-03-18 15:34] QuantumInformation commented on #55
@notmessenger are you doing anything fun with the parse adapter in production?

[2015-03-18 16:27] notmessenger commented on #55
@QuantumInformation Nothing with it yet that is live - just beginning to integrate it into a personal project.

[2015-03-20 13:16] notmessenger commented on #20
While this link was broken at the time this issue was initially created the `example.html` has been removed completely in https://github.com/clintjhill/ember-parse-adapter/pull/54 and replaced with the demo app within the add on.

[2015-03-20 13:17] notmessenger commented on #31
https://github.com/clintjhill/ember-parse-adapter/pull/54 superseded https://github.com/clintjhill/ember-parse-adapter/pull/53 and has been merged.

[2015-03-20 13:20] notmessenger commented on #24
Just a recommendation, as this is not my project, but given that https://github.com/clintjhill/ember-parse-adapter/pull/54 has been merged which converts this library into an Ember CLI Addon you may wish to tag a new release for bower off of the version before https://github.com/clintjhill/ember-parse-adapter/pull/54 so that non-Ember CLI users can still get the latest version up to that point.  M

[2015-03-20 13:21] QuantumInformation commented on #24
+1

[2015-03-20 13:23] notmessenger opened #56 "Publish new version of the library"
Now that this library has been converted to an Ember CLI Addon I recommend bumping the version number to 0.6.0 or 1.0.0 - something to indicate that there has been a backwards-compatibilty break - and tagging a release and publishing it to npm.  This will address https://github.com/clintjhill/ember-parse-adapter/issues/55 that users are experiencing in attempting to install this Addon via the Embe

[2015-03-20 17:05] QuantumInformation commented on #56
+1

[2015-03-20 17:06] QuantumInformation opened #57 "[FEATURE REQUEST] Upgrade Dummy app to maintain login state."
Would it be possible to add a logout button to the app and status based on whether the user is logged in? Currently if you refresh the UI is reset.

[2015-03-23 15:15] rudymacias commented on #56
+1

[2015-03-26 23:18] denzo opened #58 "Installing addon returns 404 Not Found: ember-parse-adapter"
When "ember install:addon ember-parse-adapter" is run the error message say

 404 Not Found: ember-parse-adapter

[2015-03-30 04:45] mixonic commented on #58
This seems like an npm error @denzo. I'm going to close this, but let me know if I've missed something.

[2015-03-30 04:45] #58 closed

[2015-03-30 08:24] Ghostavio commented on #31
now it just needs to be published on NPM and have the documentation on the readme file updated and we can close this :)

[2015-03-30 12:10] notmessenger commented on #31
@Ghostavio https://github.com/clintjhill/ember-parse-adapter/issues/56 is the request for this

[2015-04-08 00:32] blisst opened #59 "Intended use for signup?"
This may be a newb question, but I am wondering how `ParseUser.signup` is intended to be used?

Here I am creating a user if none exists for testing:

// app/models/parse-user.js
[code]

//app/routes/user.js
[code]

[2015-04-10 06:08] igorsantos07 opened #60 "Synchronize Page and README"
I've noticed a couple of doc discrepancies between the GitHub page and the project's README.
Both should be revised so developers won't get lost with different instructions.

Examples:
- how to install
- needed keys
- where to place the keys

[2015-04-10 06:08] igorsantos07 commented on #55
almost a month and no news on that :(
I've also noticed discrepancies between project's readme and github page - one being the install procedure itself (#56)

[2015-04-10 07:18] igorsantos07 opened #61 "Better explanation on how to use the addon"
I'm having some trouble getting the package to decent usage (at least, for a newbie).

1. installation was troublesome, since the addon is not available and had to dig through the issues to find a way to install it through `npm`
2. how do we setup it? Project page and readme says two different things
3. no place explains how to import/instantiate/whatever the package. I coulnd't find anything usef

[2015-04-10 07:40] QuantumInformation commented on #61
Possibly we could ask to have this project moved to the ember-cli
organisation where more people could help contribute.

--

Kind regards
Nikos

[2015-04-10 14:20] igorsantos07 commented on #61
That makes sense. However I'm not sure if I can help, I'm completely
unaware of how that works :|
On 10 Apr 2015 04:40, "Nikos" <notifications@github.com> wrote:

[2015-04-10 15:50] QuantumInformation commented on #61
I would involved discussion with the repo owner as he has the copyright.

--

Kind regards
Nikos

[2015-04-14 05:45] igorsantos07 opened #62 "Relationships are not persisted correctly"
When trying to store a relationship in Parse I get the following 111 error in the HTTP response: `invalid type for key customer, expected relation<Item>, but got "Item"`

The payload sent includes a `customer` key with this object: `{ __type: "Pointer", className: "Item", "objectId": "D2zBq..." }`

That was made through the console, with the following code just for the purpose of testing how thing

[2015-04-16 11:44] philipheinser commented on #62
@igorsantos07 Any updates on this?

[2015-04-17 02:55] igorsantos07 commented on #62
None. I'm focusing on other parts of my project for awhile, hoping the maintainer will take a look at this weird bug.

[2015-04-21 12:13] oriSomething commented on #61
yep, i found myself making my own `Parse` adapter, because this repo is not active enough. moving it to `ember.js` / `ember-cli` repos would probably make this repo more active

[2015-04-21 12:21] mixonic commented on #61
@clintjhill can you cut a post ember-cli release if everything looks good after that big refactor merged? I never got a chance to finish reviewing it, I'm sheepish about making a release myself.

I highly doubt the ember-cli organization is interested in shepherding this addon. It sounds like the docs need love and a release needs to happen.

[2015-04-21 12:27] QuantumInformation commented on #61
Why don't we ask parse if they will help sponsor and maintain it?

On Tuesday, 21 April 2015, Matthew Beale <notifications@github.com> wrote:

--

Kind regards
Nikos

[2015-04-21 12:31] oriSomething commented on #61
from my experience they are the least people i'd like to maintain this repo.
it will be really hard the merge pull request after repo will belong to them, and issuing stuff for their bugs usually poorly responded.
also because their belong to Facebook, they'll prefer to invest in React anyway

[2015-04-21 12:32] QuantumInformation commented on #61
They wouldn't own it, it would stay with the author. They could just help
perhaps.

On Tuesday, 21 April 2015, ori livni <notifications@github.com> wrote:

--

Kind regards
Nikos

[2015-04-21 12:37] oriSomething commented on #61
this is can be a nice option as long as they **don't** use the `Parse JS SDK` in this repo

[2015-04-21 12:48] QuantumInformation commented on #61
I would think they would use the rest one like this adaptor is using?

On Tuesday, 21 April 2015, ori livni <notifications@github.com> wrote:

--

Kind regards
Nikos

[2015-04-21 12:53] oriSomething commented on #61
can't say for sure

[2015-04-21 15:09] notmessenger commented on #61
@mixonic @clintjhill I brought up the differences between the installation instructions before, but it was before the repo had actually been converted to an Ember CLI Addon and merged.

(Unrelated) I also have one last bug I'm working through and then will do a PR for an upgraded version of Ember CLI and Ember Data.

[2015-04-21 20:36] joshfester commented on #61
+1 for moving it to ember.js / ember-cli. And for asking Parse to help out. Their response to bugs is absolutely terrible, but any help we can get on this would be really great. I'm currently stuck using an old version of the adapter and and old version of ember-data

[2015-04-21 20:59] QuantumInformation commented on #61
Also there should be a website and a donate button for the author of this.
If your company makes money off it, give a nice donation.

On Tuesday, 21 April 2015, Josh Fester <notifications@github.com> wrote:

--

Kind regards
Nikos

[2015-04-21 21:07] joshfester commented on #61
@QuantumInformation That's an excellent idea. I would absolutely get my company to make some donations

[2015-04-21 21:09] QuantumInformation commented on #61
Thanks, that's kinda how StephenP makes his living off yahoo:)

On Tuesday, 21 April 2015, Josh Fester <notifications@github.com> wrote:

--

Kind regards
Nikos

[2015-04-25 04:04] denzo commented on #62
It would be great if you could share the code for describing your models. Then it would be possible to trace why your column is set to relation<Item> as oppose to pointer<Item>

[2015-04-25 04:11] denzo opened #63 "Unable to persist belongsTo when set to null"
In the serializer "serializeBelongsTo" method populates json only if belongsTo exists.

[2015-04-25 05:38] igorsantos07 commented on #62
[code]

[2015-04-25 15:30] igorsantos07 commented on #62
Hey, I think I accidentally found the issue! The problem lies in the type of relations I'm creating at Parse.
I've created the tables before persisting them, instead of using a master key. I've stumbled across the [Relations doc](https://parse.com/docs/relations_guide), and noticed there are actually four ways to build those.
I'll take a look at how that behave with the adapter code and report soo

[2015-04-25 17:17] igorsantos07 commented on #62
I'm fixing my relations in my models and Parse tables. It seems it was a conflict of types.

However, this surfaces an important stuff: we need clear documentation on what Ember relations are what Parse relation types. Also, would be cool to see a clearer error message (example: in case someone uses `one-to-many` in Ember and `Relation` in Parse).

[2015-04-25 18:46] igorsantos07 opened #64 "How do Array relations works?"
I have a model with a `belongsTo` relation, that in Parse is an Array column.

However, using `model.set('column', [relationModel])` triggers an error: "Assertion Failed: You cannot add a 'undefined' record to the 'hypothesis.risk'. You can only add a 'item' record to this relationship."

I guess this happens because the `belongsTo` relation specify a model class, but how should we specify those i

[2015-04-26 19:42] srsgores opened #65 "CloudCode Functions?"
Is there a way to get cloudcode functions working?  I want to be able to query a certain model with a ``PUT`` request, passing in geolocation data.

`` POST http://api.parse.com/1/functions/proximity``

with

[code]

Is this possible yet?  If not, how can it be implemented?

[2015-04-26 21:03] joshfester commented on #65
I accomplished this by editing the pathForType function in addon/adapters/application.js. Add a case for "functions". Then I use this code to make a function call:

Adapter.ajax(Adapter.buildURL("function", "someCloudFunction"), "POST", {
        data: {
          foo: bar
        }
      });

[2015-04-26 21:09] QuantumInformation commented on #65
@joshfester  nice one!

[2015-04-26 22:06] srsgores commented on #65
@joshfoster, would you have to use a model of type ``function`` in that case?  What would ember data integration look like?

[2015-04-26 22:22] joshfester commented on #65
In my app it ended up being easiest to just put the functions on the application route since I only use a handful of cloud functions.

To me it would make the most sense if every model could have "functions" the same way that controllers have "actions". Then you could call someModel.cloudFunction(data)

[2015-04-26 22:35] srsgores commented on #65
@joshfester, can you provide an example?  In my case, I'm simply looking to query a set of data based on the user's current location, so I don't quite follow how I would set a route's model to the result.

Perhaps you could add an example to the dummy app?

[2015-04-26 22:40] joshfester commented on #65
@srsgores sorry I should have clarified. My suggestion was a feature request to solve this issue via the adapter. In your case I'd suggest using my quick fix until support gets added to the adapter.

[2015-04-27 04:32] igorsantos07 commented on #51
+1 for this issue; this sounds big, too bad the maintainer gave up on the project...

It seems, giving my complete inexperience with Ember, that in this case Ember uses a snapshot of the Model instead of the actual class... That means the `parseClassName()` method won't exist in a snapshot.

[2015-04-27 04:42] igorsantos07 commented on #51
I think I got the issue... I'll be sending a PR soon

[2015-04-27 04:44] igorsantos07 opened #66 "hasMany relations are not stored correctly"
It seems the adapter has trouble when dealing with hasMany relations.

Namely, I created an `Array` column, but got 400 as the adapter sends in an OBJECT in place of a list of items.
Then I changed the column into type `object`. What's my surprise when Ember refuses to load my record since `hasMany` should be an array, not an object?

[2015-04-27 04:58] igorsantos07 opened #68 "Documentation on Relations"
Fussing around the code, trying to squash a bug, I *discovered* there are options for relationships that would enable us to use different Parse types.

Is there any documentation on this? I couldn't find any...

I may be able to get a look at this if there's no one more capable for the task.

[2015-04-27 18:16] gcollazo opened #69 "Collaboration: ember-parse <> ember-parse-adapter"
Hi @clintjhill,

I just uploaded a fork of this repo to https://github.com/GetBlimp/ember-parse. One of the main differences is that I'm using the JavaScript Key instead of the REST API Key.

My decision not to use the REST API Key was based on a conversation I had with a friend who works at Parse. He told me that as a general rule the REST API Key should be kept secret. He cited a few reasons for

[2015-04-27 18:48] QuantumInformation commented on #69
Sounds like it would help the community but your licence should include the
original author too, 1st.

On Monday, 27 April 2015, Giovanni Collazo <notifications@github.com> wrote:

--

Kind regards
Nikos

[2015-04-27 19:57] oriSomething commented on #69
do you have any link to approve the rest key stuff in the docs? sounds wired, because in the docs they say **There are many things you can do with the REST API. For example: A mobile website can access Parse data from Javascript.**

[2015-04-30 19:15] hramos commented on #69
Hey all, Parser here. I advised @gcollazo against using the REST API Key for this use case. You can find this in the Parse REST API docs, under ["Calling from Client Apps"](https://parse.com/docs/rest#general-requests), and I quote:

In summary, the REST API Key is meant to be kept private. Only the Client Key, JavaScript Key, and Windows Key can be safely exposed in a client app.

[2015-05-01 15:36] gcollazo commented on #69
@oriSomething take a look at what @hramos wrote. Thanks Héctor.

[2015-05-01 18:33] joshfester commented on #69
+1 for moving to a repo with a more active owner

[2015-05-01 19:36] mixonic commented on #69
@gcollazo I have commit on this repo. @clintjhill is still the only one with publishing.

**I strongly believe we should find a way to keep effort on a parse adapter in one project**. Parse's API is fairly difficult to wrap in Ember-Data due to widely differing assumptions about what an API should look like. For example, Parse does not return a full set of properties after an update. Ember-Data pr

[2015-05-01 19:55] oriSomething commented on #69
@mixonic i think the reason people react as they do, because sometimes, it seems that this repo is abandoned.
until recently you couldn't use it easily with `ember-cli` app and even now, when you enter to the suppose [npm page](https://www.npmjs.com/package/ember-parse-adapter), it's not there. for some it might seem like a small thing, but it prevent people to take this project seriously.

[2015-05-01 20:01] mixonic commented on #69
I'm somewhat intimidated by the changes @notmessenger made, as they were largely unreviewable. @clintjhill merged them in and I'd love to see them released if he can do that.

@clintjhill can you add me to the npm repo?

@gcollazo if you are interested in being a more active maintainer I would *love* to help you get changes upstream. I am very happy to code review and work with you until we can ma

[2015-05-01 20:04] mixonic commented on #69
FWIW, unfortunately the ember-cli changes also removed the ability to use the adapter *without* ember-cli. So that was more of a lateral move pleasing new users than building a solid base for existing users. Exactly the kind of thing you would not like to see happen again, I presume.

[2015-05-01 20:06] joshfester commented on #69
@mixonic I am guilty of dropping the mic. My reason is all the hurdles involved in moving from my custom fork back to this one. Until recently this repo was completely abandoned, so my company took the path of least resistance. Now we're stuck until this repo has more features and becomes stable.

I'd love to help out in any way I can. I'm currently helping @notmessenger with a pull request.

I do

[2015-05-01 20:15] oriSomething commented on #69
@mixonic true, but i think, especially you as a core contributor to `ember`, you know where is the future of `ember` going, and it's question of time until pretty much all ember project will have to move to `ember cli` for the reason it might be and only exceptional project won't use the `ember-cli`.
so yes, but it's a necessary painful step in this repo.

[2015-05-01 20:17] clintjhill commented on #69
Friends, first - my apologies. I feel pretty guilty for what I'm reading here. Honestly I had no idea there was so much desire behind this codebase, and it's because I did a poor job of paying attention. I have excuses like a day job etc, but none for the lack of attention.

I'm happy to provide access to whoever needs it. @mixonic I'm not aware of an npm repo. I believe that's @gcollazo that has

[2015-05-01 20:28] mixonic commented on #69
Whoa. There is no npm package! News to me. I will make one.

[2015-05-01 20:41] mixonic commented on #69
I've published the package here: https://www.npmjs.com/package/ember-parse-adapter and added @clintjhill as an owner.

[2015-05-01 20:53] gcollazo commented on #69
@mixonic I totally agree with *"keep effort on a parse adapter in one project"*. That's why I opened this issue in an effort to try to understand what it would be required to join forces.

I started work on this by forking the project with a future PR in mind because *"this should be easy"*. But the changes where so substancial that I thought it would be better to get the project in the best shape

[2015-05-01 21:32] QuantumInformation commented on #69
Great to see all this discussion tonight. Great to hear from the original
author too. I look forward to getting this project the more usable state so
I can use it for my social network.

--

Kind regards
Nikos

[2015-05-01 22:09] mixonic commented on #69
Clint enabled Travis-CI and we have a badge on the readme now. This should make it easier to sanity-check PRs.

[2015-05-02 01:07] joshfester commented on #69
@gcollazo I like the idea of having all Parse services in one place, but I'm not sure about the session. What was your reason for going that route rather than using [Ember Simple Auth](https://github.com/simplabs/ember-simple-auth)?

[2015-05-04 09:56] QuantumInformation commented on #69
@joshfester would you say that this addon is in a state that I could use it well with Parse for a new social network I'm building?

btw I've noticed you've started quite a few companies, perhaps I could ask for advice on how to organise this for myself as I'm just getting started)

[2015-05-04 11:29] oriSomething commented on #69
@joshfester the user objects of `Parse` are quite binded to their auth system. you also get the current user data when you login. so it's kind of make sense that it will be in this project

[2015-05-04 11:31] QuantumInformation commented on #69
How easy is it to decorate parses user model with your own attributes?

--

Kind regards
Nikos

[2015-05-04 13:27] oriSomething commented on #69
you can reopen the class?

[2015-05-08 03:58] notmessenger commented on #69
I too am interested in finding a way to help out with this project and to move its progress forward.  I am not using it for my employer but am very interested in using it for a personal project I am working on.

I do not know if it is the desired approach or not (@mixonic and I are having a conversation about it on my latest PR - https://github.com/clintjhill/ember-parse-adapter/pull/70) but I hav

[2015-05-08 04:18] joshfester commented on #69
I love the idea of following the RFC pattern. Once we get this repo up to date, it will be difficult to move forward if there's no standard way to introduce new features.

[2015-05-08 12:02] notmessenger commented on #69
@gcollazo @mixonic I removed the support for the Javascript key because it was not being used in either the code, tests or demo when I made the conversion to Ember CLI.  I can most certainly make a PR to put it back.  Based on the comments by @hramos and the corresponding conversation, do I remove the REST API key?

[2015-05-08 12:07] notmessenger commented on #69
One of the things we definitely need are more robust tests.  I noticed while working on https://github.com/clintjhill/ember-parse-adapter/pull/70 that the tests still passed even though the demo didn't work and after adding https://github.com/clintjhill/ember-parse-adapter/pull/70/files#diff-4cd795786804c68db2986e055d96d561R155 (with @joshfester's assistance) the tests continued to pass as well.

[2015-05-12 18:11] apokinsocha opened #71 "Two requests BelongsTo"
I simplified code to show relevant issue.

Ember data models:

var page = DS.Model.extend({
    categories: DS.hasMany('category', {async: true}),
});

var category= DS.Model.extend({
    page: DS.belongsTo('page', {async: true})
});

In Parse:

I have pointer from category -> page
I have categories array of objectId's on page.

When I try this method:

    page.get('categories')

or call (in temp

[2015-05-12 18:24] joshfester commented on #71
I can confirm that hasMany relationships have never worked for me either. Currently I just use custom queries instead of a relationship

[2015-05-12 18:48] apokinsocha commented on #71
Thanks.

[2015-05-14 22:12] QuantumInformation opened #72 "Glitter channel for this add on and its users?"
Could we create a slack channel for this in the ember community or perhaps a glitter hangout?

[2015-05-29 15:42] QuantumInformation commented on #61
When I use parse with Vanilla.js I have to call Parse.initialize. I can't see that call anywhere in this adaptor. Should it be?

[2015-05-30 19:19] QuantumInformation opened #74 "Security with this adapter, and parse.js absence."
I've been looking through the code and cannot see the parse library loaded from eg:

    <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>

How do we actually communicate with parse without this lib?

Also I am wondering how secure user data is in our applications, how do we inforce it with this adaptor. I only want the data held in parse to be shown to the relevant parse user once

[2015-05-31 01:47] igorsantos07 opened #75 "Parent models should be saved on model deletion"
When you remove a model that pertains to an Array of a related model, that array is updated by Ember Data but not stored unless you manually call the parent model `save()` method.

Currently I'm solving this issue with the following code, but I think this should be automatic?

[code]

[2015-05-31 07:55] oriSomething commented on #74
currently this project doesn't use the `Parse SDK`, it communicate with the server directly.
i'm not sure about future plans, but i can't say the `Parse SDK` is secure enough, because the session token is saved on the `localStorage` which is not secure at all if you're using third party library.
maybe enabling option of how session is saved locally if at all can be a nice addition to this library.

[2015-05-31 10:57] QuantumInformation commented on #74
I've not used localStorage much, can you expound of the use case of "is not secure at all if you're using third party library"?

How do we restrict our ember apps to only use the login service when you don't have a session token, and only after we get the  session token  can users do things on the app to access other tabele on parse?

[2015-05-31 11:07] oriSomething commented on #74
1. you can't restrict `localStorage`. so if you're using third party script it can access all the data in `localStorage`, also the session token of current user when `Parse SDK` is used. here `Parse SDK` there is no use of `Parse SDK`, and so no use of `localStorage`. but because the way `Parse` works you can't really protect `session token`. only if user needs to login every time application load

[2015-06-01 04:16] igorsantos07 commented on #75
Actually, I've noticed (not sure but it seems it started happening only this night) the adapter is not removing correctly the related information.

Example:

[2015-06-01 05:03] igorsantos07 commented on #75
May be solvable by #49?

[2015-06-01 07:23] QuantumInformation commented on #69
Anyone had any luck in writing more tests? I want to start using this adaptor in earnest then be contribute back once I use it for real.

[2015-06-02 09:11] QuantumInformation commented on #50
I thought you could add extra fields to the Parse user class, see this answer:

http://stackoverflow.com/a/26222264/3915717

I tried the following but the extra column (sendUpdates) wasn't created:

[code]

[2015-06-02 09:41] QuantumInformation commented on #59
Signup creates that use in the special _Users table in parse.com

[2015-06-02 09:44] QuantumInformation commented on #50
My mistake, I done another refresh on parse.com and see that those fields were created fine :))

[2015-06-03 05:13] QuantumInformation commented on #57
I can add a pull request for this at some point. However I would like opinions on the best place in the app to store login state. Maybe I could use ember simple auth?

[2015-06-03 20:05] QuantumInformation opened #77 "Sign in session persitance"
I'm not seeing session information being stored in any resource, don't we need that in order to be able to make calls to users data with the ACL's?

![image](https://cloud.githubusercontent.com/assets/216566/7970153/ccbaa30e-0a44-11e5-832a-c54fe4896787.png)

[2015-06-03 20:30] QuantumInformation commented on #74
The adaptor doesn't persist to local storage, or anything else for that matter. So perhaps can't link users to object they save I think or work with ACL's. I'm still learning how parse works.

[2015-06-04 06:59] QuantumInformation commented on #72
There are so many forks of forks on this adaptor with great fixes, I wish we had a way to get all these changes back into the original repo.

btw there is now a slack channel on the EmberJS community. Maybe see you on there.

![image](https://cloud.githubusercontent.com/assets/216566/7978640/3f63e680-0aa0-11e5-834d-c300098607ec.png)

[2015-06-04 07:00] QuantumInformation commented on #72
Closing as we can use slack for this.

[2015-06-04 07:00] #72 closed

[2015-06-04 07:34] QuantumInformation commented on #77
Closing as you can use Simple auth:

https://github.com/clintjhill/ember-parse-adapter/wiki/Ember-Simple-Auth-Cookbook

[2015-06-04 07:34] #77 closed

[2015-06-06 12:41] QuantumInformation commented on #74
Use this with ember simple auth. Appears to be what we need.

[2015-06-06 12:41] #74 closed

[2015-06-06 12:43] QuantumInformation commented on #39
@omairvaiyani or @mixonic  how would you get the adaptor to return the list of users? I tried  `this.get('store').find('user')` but the adapter made a call to `https://api.parse.com/1/classes/User` instead of `https://api.parse.com/1/users`

[2015-06-06 14:42] QuantumInformation commented on #69
Dear all, I've had a look at this fork and there really is some powerful stuff going on in regards to the ACL's + I like having all the auth stuff native to the addon. I've used simple auth too but this fork has a nice simple implementation. I'm going to try port my social network over to the fork and see how it goes and will report back..

[2015-06-06 15:11] omairvaiyani commented on #39
I believe you have to do ```this.get('store').find('parse-user')```

See if that works otherwise I'll take a look further.

[2015-06-06 15:34] QuantumInformation commented on #39
@omairvaiyani that just returns the current logged in user..

[2015-06-06 15:35] QuantumInformation commented on #39
I wonder why the model is called parse-user anyway, why not use user/User like it is on parse.com?

[2015-06-06 15:38] omairvaiyani commented on #39
If that's at least returning the current user, it means that the API call is working. Check your Parse data browser to see if other users can be seen (ACLs) by the current user.

I'm not sure what the reasoning behind using "parse-user" was as I haven't contributed to the code. However, the adapter does take "parse-user" and uses it to adjust the API call accordingly.

I'm currently away on holida

[2015-06-06 15:45] QuantumInformation commented on #39
Ah its a special class.

They query that is made is:

https://api.parse.com/1/classes/ParseUser

which is a local representation of user data that can be saved and retrieved from the Parse cloud.

https://parse.com/docs/android/api/com/parse/ParseUser.html

[2015-06-06 15:58] QuantumInformation commented on #39
Well currently anyone should be able to see other users, so I'm still trying to figure out what query I need.

![image](https://cloud.githubusercontent.com/assets/216566/8020350/f4b25fb0-0c7d-11e5-9aea-cd06eea95cbd.png)

[2015-06-30 19:56] jacobthemyth commented on #56
Usually, anything prior to 1.0 can introduce breaking changes. It would probably not be a good idea to use the version 1.0 until the core team is ready to use semver and avoid breaking changes.

[2015-06-30 20:07] jacobthemyth commented on #69
What is the plan/status on an RFC process? I would love to be able to start planning how to move forward with the library.

[2015-07-03 01:52] blisst opened #78 "Parse Date transform almost correct"
Hello, I'm kind of a newb at doing pull requests, so I'll just state the issue here:

The Date transform needs the following change on `line 26`:

[code]

[2015-07-05 20:26] jacobthemyth opened #79 "RFC: Move to ember-parse organization"
In #69, the session service was brought up, and I think it would be helpful to have other packages besides just the adapter that offer functionality around Parse. For instance, I would argue that file uploads don't really belong in this repo, and probably neither does the user model, since those are separate concerns from an ember-data adapter. I would propose that this project be moved to an orga

[2015-07-05 20:28] jacobthemyth opened #80 "RFC: Versioning"
Splitting out the discussion from #69, I propose that this library move to the same versioning system as ember and ember-data, which is to say that it should have the same version number as the version of ember-data + ember that it is compatible with. For instance, the current version could/should be `1.0.0-beta.15`.

[2015-07-05 20:37] jacobthemyth opened #81 "Use JavaScript Key instead of the REST API Key"
For security reasons, the REST API key should not be used on the client side.

Splitting out issue from #69. Relevant comments at
- https://github.com/clintjhill/ember-parse-adapter/issues/69#issue-71361322
- https://github.com/clintjhill/ember-parse-adapter/issues/69#issuecomment-97933554

[2015-07-05 20:44] jacobthemyth opened #82 "RFC: Use separate libraries for anything not specifically part of the ember-data adapter/serializer."
There has been discussion in #69 about having some authentication, ACL, session, etc. logic in this library, but I propose that these all be maintained as separate libraries. For instance, I like using ember-simple-auth, and would not like auth logic in this library. This is also related to #79, in that having an ember-parse organization would facilitate this idea.

[2015-07-05 20:51] jacobthemyth opened #83 "Write integration tests using ajax mocking"
I think a good way to increase the test coverage of this library would be to basically mock out the whole Parse REST API using ember-cli http-mock endpoints. I going to start working on this, but don't have access to assign this issue to myself.

[2015-07-05 20:57] jacobthemyth opened #84 "RFC: Create milestones and organize issues"
I'm trying to spend some time working on open issues here, but it doesn't seem like the issues are very well curated. @notmessenger, could you create issues and milestones detailing the work you mentioned in #69 about getting the library up to date? I would love to help with that effort, as I should have some free time in the upcoming weeks. In addition, it would be great if someone with access co

[2015-07-05 20:57] jacobthemyth commented on #69
It seems like this issue has become a discussion without a goal, which means it might be open perpetually. I just split out some relevant issues, are there any other outstanding questions that should be brought into more focused issues? If not, I propose this issue be closed, and any open questions be translated into RFC issues.

[2015-07-05 21:00] jacobthemyth commented on #80
And just for the record, I am aware #56 already exists, but this is actually a separate question.

[2015-07-05 21:12] joshfester commented on #82
+1 for this. I really enjoy using ember-simple-auth. Authentication and session management is beyond the scope of an ember-data adapter. However, in my mind ACL functionality is not beyond the scope. It is heavily tied to the adapter and for security reasons it should almost always be used with any Parse objects.

[2015-07-05 21:18] gcollazo commented on #81
I already did this work. It would be great if someone had the time to review it. Also like the idea of centralizing the work on a new org.

[2015-07-05 21:22] joshfester commented on #81
I would love to see this centralized in a new org. There are a lot of gaps to fill between Ember and Parse. A central location would be very helpful. Hopefully it would encourage more development as well.

[2015-07-05 21:22] jacobthemyth commented on #81
@gcollazo Please open a pull request for code review, and please comment about the new org on the respective issue #79 so that all the information and opinions about that particular topic can be put in one place.

[2015-07-05 21:23] jacobthemyth commented on #81
@joshfester please put those comments in the respective issue #79 so that all the information and opinions about that particular topic can be put in one place. This issue is about using the REST API key.

[2015-07-05 21:26] joshfester commented on #81
@jacobthemyth Ah, my bad. So many notifications today. I thought I was on #79

[2015-07-05 21:26] joshfester commented on #79
I would love to see this centralized in a new org. There are a lot of gaps to fill between Ember and Parse. A central location would be very helpful. Hopefully it would encourage more development as well.

[2015-07-05 21:26] jacobthemyth commented on #81
@joshfester :) sorry, I got a little carried away with the issues.

[2015-07-05 21:27] gcollazo commented on #79
Like the idea of centralizing the work on a new org.

[2015-07-05 21:40] QuantumInformation commented on #79
I've even using ember parse, it works great.

--

Kind regards
Nikos

[2015-07-05 21:41] QuantumInformation commented on #82
I switched all my logic to use the internal auth in ember parse. Works for
me. I was using simple auth before.

--

Kind regards
Nikos

[2015-07-05 22:07] jacobthemyth commented on #79
@QuantumInformation this would be different from https://github.com/GetBlimp/ember-parse, rather it would be a new organization.

[2015-07-05 22:08] jacobthemyth commented on #82
@QuantumInformation this is a separate project from GetBlimp/ember-parse, so that project may continue to do something different. Maybe it would be possible to extract the auth code from that project as a separate repository.

[2015-07-05 22:12] gcollazo commented on #81
@jacobthemyth I just opened PR #85 importing all the changed I've made.

[2015-07-05 22:22] joshfester commented on #82
Is anyone else making use of Parse Cloud Functions? To me this is something that falls within the scope of the Data Adapter. However, I have not come up with any solutions that feel right.

[2015-07-05 22:26] jacobthemyth commented on #82
@joshfester I would say that it should be a separate library. But yes, I use them extensively in my apps. There might need to be some unified configuration so that, say ember-parse-adapter and ember-parse-cloud could just use the same app id and key, but IMHO, I don't think Cloud Code fits into the ember-data paradigm since ember-data is specifically for data persistence.

Although, on the other h

[2015-07-05 22:47] gcollazo commented on #82
getblimp/ember-parse has a cloud code service you can inject on routes and components. It currently uses the adapter and serializer to communicate.

[2015-07-05 22:52] jacobthemyth opened #86 "RFC: Improve documentation"
It would be great to have documentation and guides for this library that are much more detailed. I would be willing to do the leg work on this, and have actually already started, but I have a couple questions I'd like feedback on.

1) Do they need to be versioned, or would a "single canonical site for docs" be sufficient?
2) Should they be in this repository, or a separate repo (a la https://githu

[2015-07-05 23:16] joshfester commented on #86
My vote would be to keep all docs in in their separate repositories. But that's assuming we separate things as mentioned in #82, and that we move to a central organization as mentioned in #79

[2015-07-06 00:55] joshfester commented on #82
@jacobthemyth I use Cloud functions indirectly for data persistence. I have a lot of functions that communicate with other services like Stripe, then Parse data gets updated via webhooks.

@gcollazo I really like the way they use the cloud service. That was the inspiration for my current implementation

I guess it's very true that Cloud Functions don't fit the paradigm. Perhaps it could be a separ

[2015-07-06 14:17] mixonic commented on #82
Agreed, would love for the session stuff to not be part of the adapter now that there are robust alternatives for session management.

[2015-07-06 14:21] mixonic commented on #86
@jacobthemyth the starting point should likely be updating the README to be more fleshed out. Additionally there are several wiki pages that could be updated or removed.

I strongly suggest that the most important thing is that the docs get written, and not that we need to be concerned with versioning them at this point. The classic programmer trap will drive you to want to code instead of write d

[2015-07-06 14:24] mixonic commented on #79
I'm happy to open up a new organization, but I also feel that does not come close to addressing the major priorities of this addon. There is major work to be done on continued improvement to the testing and documentation.

[2015-07-06 14:27] mixonic commented on #79
If this is a high priority for you @jacobthemyth, I'd like to see some more thoughts on motivation and on a proposed restructuring (what addons will exist, what are their responsibilities, what can they be extracted from).

[2015-07-06 14:39] mixonic commented on #80
I disagree with this for now. The Ember and Ember-Data versioning implies a level of stability this library has not yet reached.

[2015-07-06 14:40] mixonic commented on #69
agreed, closing.

[2015-07-06 14:40] #69 closed

[2015-07-06 14:40] #31 closed

[2015-07-06 14:43] mixonic commented on #84
@jacobthemyth I'm happy to make anyone a collaborator on this repo who consistently delivers quality tested code or leads with great communication. You often find me on the community slack if you want a hand.

As far as milestones and issues tags, what are your thoughts?

[2015-07-06 14:44] mixonic commented on #83
@jacobthemyth the assignee system is limited to contributors in github. Just a limitation of the platform.

[2015-07-06 15:34] clintjhill commented on #86
I would agree with README + Wiki. And I also agree versioning is unimportant at the moment.

[2015-07-06 15:56] clintjhill commented on #79
First I agree with @mixonic about the testing and documentation. That would be my priority too. I wanted as well to provide some context to the existence of this project in the first place. It was my intention that this was a "parse app" development library, just as the Parse JS SDK is intended. As such it would require user models, session and some of the other things that are mentioned here as b

[2015-07-06 19:49] joshfester commented on #79
My opinion is that the goal should definitely be to have all the functionality of the Parse JS SDK. However, I think the "ember way" of accomplishing this would be to break things out into separate addons. Off the top of my head, here's some ember-parse addons I would be using at my company:

* ember-data adapter
* ember-cli-deploy-parse
* ember-parse-cloud
* ember-simple-auth-parse
* ember-parse-

[2015-07-07 02:25] jacobthemyth commented on #80
:+1:

[2015-07-07 02:25] #80 closed

[2015-07-07 02:29] jacobthemyth commented on #83
@mixonic ah, didn't know that. Feel free to close this issue if you want. I'll keep the pull request #88 open while I work on it, but I'm not sure if you want to keep open issues with redundant pull requests.

[2015-07-07 02:32] jacobthemyth commented on #86
@mixonic @clintjhill :+1: I'll open a pull request with some new docs for README asap.

[2015-07-07 03:02] jacobthemyth commented on #84
@mixonic I had never noticed the community slack channel, I'm on Slack all day for work, so that's great.

I didn't mean to be overly aggressive with my issues and everything this weekend. I would love to contribute, and plan on doing so through quality, tested pull requests. I can be a little verbose, I like to write things out, which has its pros and cons.

My thoughts on milestones would be to

[2015-07-07 03:12] jacobthemyth commented on #84
Still thinking about tags, I'll post on that tomorrow...

[2015-07-07 12:28] mixonic commented on #84
I'm definitely not crazy about going 1.0. This codebase is nowhere near 1.0 ready, sad to say. We could make a milestone for 0.6.0?

[2015-07-07 12:30] QuantumInformation commented on #84
0.6 is good for me.

[2015-07-08 05:28] blisst commented on #66
Was hasMany working for you in the first place?

I had to override the `serializeHasMany` method and change `line 26` to `'objectId'  : child.get( 'id' )` as opposed to `'objectId'  : child.attr( 'id' )` to get your error in the first place.

[2015-07-10 13:19] igorsantos07 commented on #66
Never worked, @blisst. I have tackled that on #76/#73. Take a look there :)

[2015-07-11 15:54] gcollazo commented on #81
Parse recently launched a new feature that will allow developers to disable REST Push.

This issue can be closed in favor of PR #91 or any other proposal that clearly documents the security risks of having REST Push enabled and a how-to disable guide.

[2015-07-11 15:55] gcollazo commented on #81
Ups! missed it was already closed :\

[2015-07-15 08:40] jacobthemyth commented on #81
:+1:

[2015-07-15 08:40] #81 closed

[2015-07-21 04:45] QinMing commented on #57
+1
I want to ask the same question. Why not provide one-stop solution for parse-and-ember application.
Like this repo: [GetBlimp/ember-parse](https://github.com/GetBlimp/ember-parse), which is an addon that

[2015-07-22 14:06] eibrahim opened #92 "How do I upload a file?"
I see you have a file type transform but I am not sure how to use it.  Can you give me an example of how to upload a file to parse using your adapter?

[2015-07-22 19:12] virgiliud opened #93 "How to register & login users?"
Could you please provide examples on how to use ParseUser to register and login users?

[2015-08-07 02:31] hamzahio opened #94 "Passing classes to store methods has been removed"
i try to call ParseUser.login()

[code]

[2015-08-07 02:32] hamzahio commented on #94
Ember

[code]

[2015-08-07 03:10] cigoe commented on #94
You need to downgrade to ember data 1.0.0-beta.18

[2015-08-07 03:15] hamzahio commented on #94
i downgrade ember data but i got error

[code]

error

[code]

[2015-08-18 09:16] omairvaiyani commented on #94
This might be a ```parseClassName()``` related error. Can you show us the stack?

[2015-08-22 13:55] mongeta opened #101 "Deprecations"
Hi, I've installed your great ember-parse-adapter, and I'm getting at least three Deprecations:

[code]

Thanks,

[2015-08-23 23:46] QinMing commented on #92
+1

Maybe for now, we need to POST the file to parse api, get the url, then save the name and url in the parse object, right?

[2015-08-24 04:20] derrickshowers opened #102 "Breaks on latest version of Ember Data"
When using the latest version of Ember Data (1.13.8), the initializer breaks and displays the following error in the console.

[code]

Appears that [others](https://github.com/firebase/emberfire/issues/272) have had similar issues. I downgraded back to 1.0.0-beta.18, but with Ember 2.0 just being released, this is probably worth taking a look at.

[2015-08-28 09:03] Kaign commented on #101
+1, especially  second deprecation

[2015-09-02 20:26] maxKimoby commented on #102
Hey can you update me on what's going on with this issue? I keep having it with ember 2.0 and ember-data 2.0.1 when using nested routes.

[2015-09-06 20:55] derrickshowers commented on #102
@maxKimoby I had the same issue, had to downgrade to use ember data 1.0.0-beta.18 (or lower). Not sure if you can do that with ember 2.0, though, since they're so tightly coupled now (reason I opened the issue).

[2015-09-10 21:51] DougPuchalski commented on #102
:+1:

[2015-09-10 22:04] DougPuchalski commented on #102
Confirmed that 1.0.0 beta's newer than 1.0.0-beta.18 fail in case that wasn't clear.

[2015-09-11 00:07] joshfester commented on #102
I have created a [pull request](https://github.com/clintjhill/ember-parse-adapter/pull/104) that gets the adapter up to date with ember-data 1.13.11. I am using the following features in production: signup, login, facebook, belongsTo relationships, ACL's, and queries. I encourage anyone to try it out and/or make some commits :)

[2015-09-12 00:24] DougPuchalski commented on #102
@joshfester I've got some local changes for logout and loading current user on page reloads, how are you handling that?

[2015-09-12 01:04] joshfester commented on #102
@aceofspades I am using Ember Simple Auth. I posted my authenticator file [here](https://gist.github.com/joshfester/66265dbefd910862d2f1).

There's two functions in that authenticator that need to be added to the ParseUser class. You can see those [here](https://gist.github.com/joshfester/5258acd02513313178ff).

[2015-09-20 09:32] maedi commented on #102
I'm using joshfester's branch on Ember 1.13.10 and Ember Data 1.13.11. I'm debugging an issue where ParseUser model attributes are correctly saved to Parse but not brought back down:
![screen shot 2015-09-20 at 7 23 40 pm](https://cloud.githubusercontent.com/assets/601650/9980044/52226d1e-5fcd-11e5-8158-e0776d8d809f.png)

The adapter's `createRecord` method mentions that it merges the partial data

[2015-09-20 16:46] maedi commented on #102
I've 'fixed' my issue by merging`data` with `serialized` in `ParseUser.signup`:

[code]

[2015-10-05 11:31] maedi commented on #102
For the fix:
https://github.com/maedi/ember-parse-adapter

[2015-10-12 16:17] bhoskins commented on #101
I get the depreciation warnings also, and it seems this addon is not being updated. Has this project been abandoned?

[2015-10-13 16:19] zkwentz commented on #102
@maedi you should open a PR on this repo. Thx for the fix! :+1:

[2015-10-13 21:56] maedi commented on #102
No worries! Have done:
https://github.com/clintjhill/ember-parse-adapter/pull/106

[2015-10-13 21:57] zkwentz commented on #102
@maedi awesome, ty

[2015-10-14 03:02] joshfester commented on #101
@bhoskins The owners of the repo are very inactive here, however, there's some forks that are more up to date. Check out this one by @maedi - https://github.com/maedi/ember-parse-adapter

[2015-10-14 03:12] bhoskins commented on #101
Thanks. I'll check it out.

On Tuesday, October 13, 2015, Josh Fester notifications@github.com wrote:

##

[code]

[2015-10-28 10:09] deckyfx opened #107 "What i equivalent of Parse.useMasterKey()?"
can't modify parse-user data

it says: {"code":206,"error":"Parse::UserCannotBeAlteredWithoutSessionError"}

i think it need masterkey of parse

[2015-10-28 12:26] oriSomething commented on #107
you really shouldn't use `master key` if it's not on the server

[2015-10-29 03:28] deckyfx commented on #107
i found the answer,
inject 'headers.X-Parse-Session-Token' to the adapter

[2015-12-05 19:11] caracatiza opened #108 "hasMany error"
In the database on the parse.com I have a table `Item` with the following fields:

[code]

Topping has a field `title` and `price`.
For this database I have the following models:

**app/models/item.js:**

[code]

**app/models/topping.js:**

[code]

When I added `topping: DS.hasMany('topping', {async: true})` in `app/models/item.js` I started getting the following error:

[code]

I do not know what

[2015-12-23 23:17] derrickshowers opened #109 "Error on when creating a new record"
When calling `this.store.createRecord`, the following error is thrown:

[code]

I believe that's due to [this change](http://emberjs.com/blog/2015/05/21/ember-data-1-0-beta-18-released.html) with Ember data where `typeKey` is replaced by `modelName` for getting a stringified version of the model name.

[2016-04-20 19:12] drbarto opened #110 "Update for parse-server?"
Hey,

are there any plans to add support for the self-hosted parse-server to ember-parse-adapter?

Martin

[2016-05-29 18:52] maximusmusterus1 commented on #110
I'm also interested in using Parse with Ember.js. Is there an active implementation for current parse-server and ember-cli?

[2016-08-02 13:21] lacek commented on #110
I guess clintjhill has let go of this project. You are always free to fork and contribute. And before doing that, you can check the [network](https://github.com/clintjhill/ember-parse-adapter/network) and find [Kira2's fork](https://github.com/Kira2/ember-parse-adapter) seems to be active and supports the open-source [parse-server](https://github.com/ParsePlatform/parse-server).

[2016-10-06 12:26] #79 closed

[2016-10-06 12:26] #82 closed

[2016-10-06 12:26] #83 closed

[2016-10-06 12:26] #84 closed

[2017-02-14 16:27] #41 closed

[2020-03-23 06:45] #48 closed